# Ignore node_modules directory
node_modules/

# Ignore npm's cache
.npm/

# Ignore any logs or runtime data
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore TypeScript compilation output
*.js.map

# Ignore changes to build file
public/dist/bundle.js
